# Cloud Functions Environment Variables
PUBLIC_APP_URL=https://your-app-url.web.app
PUBLIC_ALLOWED_EMAIL_DOMAINS=yourdomain.com,otherdomain.com
PUBLIC_DEFAULT_API_EMAIL=api@yourdomain.com
PUBLIC_SUPER_ADMIN_EMAIL=admin@yourdomain.com
