<div data-main>
  <div class="proposals-page">
    <global-proposals-list></global-proposals-list>
  </div>

  <script type="module">
    import '/js/wc/GlobalProposalsList.js';
  </script>

  <style>
    .proposals-page {
      max-width: 100%;
      margin: 0 auto;
    }
  </style>
</div>
