---
import DocLayout from '../../../components/doc/DocLayout.astro';
---
<DocLayout>
  <h1>PlanningGame</h1>

  <p>
    Integración futura entre PlanningGame, GitHub y despliegues.
  </p>

  <ul>
    <li><a href="/doc/planninggame/integration">Documento de integración</a></li>
  </ul>
</DocLayout>
